div {
  &.navigation {
	display: flex;
	flex-flow: column;
	padding-top: 35px;
	padding-bottom: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
  }
  
  &.page-navigation {
	display: flex;
	flex-flow: row;
	justify-content: center;
  }
}
main#content ul#menu-main > li, section#primary-navigation ul#menu-main > li {
  margin-right: 15px;
  width: max-content;
  flex: 0 0 auto;
}

main#content ul#menu-main > li a, section#primary-navigation ul#menu-main > li a {
  color: #000;
}

main#content ul#menu-main > li:hover a, section#primary-navigation ul#menu-main > li:hover a {
  color: red;
}

main#content ul#menu-main > li:last-child, section#primary-navigation ul#menu-main > li:last-child {
  position: relative;
}

main#content ul#menu-main > li ul {
  list-style-type: none;
  position: absolute;
  margin: -5px 0 0 -165px;
  background: #fff;
  -webkit-box-shadow: 0 6px 18px 0 rgba(14, 21, 47, 0.13), 0 -2px 6px rgba(14, 21, 47, 0.03);
  box-shadow: 0 6px 18px 0 rgba(14, 21, 47, 0.13), 0 -2px 6px rgba(14, 21, 47, 0.03);
  padding: 15px;
  flex-flow: row;
  flex-wrap: wrap;
  width: auto;
  min-width: 400px;
  z-index: 11;
}

section#primary-navigation ul#menu-main > li {
  ul {
	list-style-type: none;
	position: absolute;
	margin: -5px 0 0 -165px;
	background: #fff;
	-webkit-box-shadow: 0 6px 18px 0 rgba(14, 21, 47, 0.13), 0 -2px 6px rgba(14, 21, 47, 0.03);
	box-shadow: 0 6px 18px 0 rgba(14, 21, 47, 0.13), 0 -2px 6px rgba(14, 21, 47, 0.03);
	padding: 15px;
	flex-flow: row;
	flex-wrap: wrap;
	width: auto;
	min-width: 400px;
	z-index: 11;
  }
  
  &:last-child:hover ul {
	display: flex;
	transform: translateX(0);
	transition: all .25s linear;
	visibility: visible;
  }
}

ul#menu-main > li:last-child:hover ul {
  display: flex;
  transform: translateX(0);
  transition: all .25s linear;
  visibility: visible;
}

main#content ul#menu-main > li:last-child > ul > li, section#primary-navigation ul#menu-main > li:last-child > ul > li {
  flex: 0 0 50%;
  display: flex;
  justify-content: space-between;
  width: max-content;
  color: green;
}

main#content ul#menu-main > li:last-child > ul > li a, section#primary-navigation ul#menu-main > li:last-child > ul > li a {
  color: #000;
}

main#content ul#menu-main > li:last-child > ul > li:hover a, section#primary-navigation ul#menu-main > li:last-child > ul > li:hover a {
  color: red;
}
main#content ul#menu-main, section#primary-navigation ul#menu-main, aside#head ul#menu-main {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  flex-flow: row;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: flex-start;
}

nav.menu-main-mob-container {
  display: none;
}
